html, body, .fill, .search-col {
  height: 95vh; 
  /* min-height: 100%;
  height: 100%; */
}

body {
  background-color: darkgray;
  /* background-color: #E50914; */
}

#pageContent {
  background-color: darkgray;
  height: 100vh;
}

#content,
#watchlist {
  /* background-color: #788F9B; */
  background-color: darkgray;
}

#header-container {
  /* height: 150px !important;
  position: fixed;
  top: 0;
  width: 100%; */
  border-bottom: 1px solid black;
}

#search-queries {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

header {
  padding: 5px 0;
}

.img-icon {
  width: 100px;
  align-self: center;
}

#search-btn {
  color: white;
}

.hollow {
  margin: 0 1px;
}

#header-container {
  background-color: 	#E50914;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.reviewLink {
  color: #0000EE !important;
  text-shadow: none !important;
}

.card {
  color: black;
}

.active-button {
  color: white;
  font-size: 19px;
  text-shadow: 1px 2px #37474F;
}

.nonactive-button {
  color: #EBEDEF;
  font-size: 17px;
  text-shadow: none; 
}

label,
h2 {
  color: white;
  text-shadow: 1px 1px #37474F;
}

h2 {
  text-shadow: 1px 2px #37474F;
}

.slider-label {
  text-align: center;
}

a {
  color: white !important;
  border: solid white 1px !important;
  padding: 16.5px !important;
}

.reviewLink {
  color: #2E9AFE !important;
  text-shadow: 1px 1px black;
  border: none !important;
  text-decoration: underline;
  float: left;
}

#noReview {
  color: white !important;
  text-shadow: none;
}

.review-div {
  overflow: auto;
}

.nonactive-button {
  padding-bottom: 18.5px !important;
}

h4 {
  border-bottom: solid;
}

p {
  color: black;
}

a.button {
  color: white;
  text-shadow: 1px 1px black;
}

a.button:hover {
  color: #788f9b;
  text-shadow: 1px 1px #37474F;
}

.reveal {
  background-color: #E50914;
  border: 1px solid black;
}

#reviewH3 {
  color: white;
  text-shadow: 2px 2px black;
}

.reviewH4 {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px black;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 639px) {
  #search-queries {
    border-right: 0px;
  }
  label {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  label {
    font-size: .82rem !important;
  }
  option {
    font-size: .82rem !important;
  }
  select {
    font-size: .82rem !important;
  }
}

@media only screen and (max-width: 333px) {
  #search-view,
  #watchlist-view {
    font-size: 19px;
  }
  .active-button {
    font-size: 19px;
  }
  .nonactive-button {
    font-size: 19px;
  }
}

@media print, screen and (max-width: 39.99875em){
  .reveal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: auto;
    min-height: auto;
    margin-left: 0;
  }
}